name: Quality
on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  test:
    name: quality
    runs-on: ubuntu-24.04
    steps:
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24'

      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: test
        run: |
          go install go.uber.org/mock/mockgen@latest
          go mod download
          make test

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.organization=colibri-project-dev
            -Dsonar.projectKey=colibri-project-dev_colibri-sdk-go
            -Dsonar.sources=.
            -Dsonar.exclusions=**/*_test.go,**/*.sql,**/*_mock.go,colibri.go,development-environment/**,pkg/di/examples/**,**/test_*.go
            -Dsonar.tests=.
            -Dsonar.test.inclusions=**/*_test.go
            -Dsonar.go.coverage.reportPaths=coverage.txt
